build/*
dist/*
ProjectsForStudent/*
ProjectsForTeacher/*
Tesseract-OCR/*
Real-Time-Voice-Cloning/*
TTS/*
image/*
images1/*
test.json
stack.py
test.py
app.log
game-gen.json
DownLoad/*
__pycache__/Setting.cpython-38.pyc
server.spec
__pycache__/MyUtil.cpython-37.pyc
__pycache__/server.cpython-37.pyc
__pycache__/Setting.cpython-37.pyc
ProjectMgr/*
Server/*
cloudsync/*
icons/*
wordprocessor/*
Component.py
Container.py
Globals.py
Mybutton.py
Setting.py
StudentComponent.py
TeacherComponent.py
Thread.py
files.csv
main.py

